.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.login-section {
  display: grid;
  grid-template-areas: "login register";
  gap: 20px;
  &-form {
    & h3 {
      font-size: 1.8rem;
    }
    grid-area: "login";
    &_label {
      @include labelForm;
      margin: 10px 0;
    }
    &_input {
      @include inputTextForm;
    }
    &_button {
      display: block;
      @include singleProductBtn;
      margin: 20px 0;
    }
  }
  &-register {
    grid-area: "register";
    & h3 {
      font-size: 1.8rem;
    }
    &-btn {
      @include singleProductBtn;
      margin: 20px 0;
      display: flex;
      justify-content: center;
      text-decoration: none;
      color: #333333;
      font-weight: bold;
    }
  }
}
