@mixin singleProductBtn {
  margin: 20px;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(145, 142, 142);
  cursor: pointer;
  &:hover {
    background-color: rgb(145, 142, 142);
    color: #fff;
  }
  &:active {
    background-color: rgb(116, 112, 112);
  }
}

@mixin labelForm {
  align-items: center;
  display: flex;
  width: 150px;
  color: #333333;
  font-size: 14px;
  line-height: 24px;
}

@mixin inputTextForm {
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  border-radius: 15px;
  height: 39px;
  width: 300px;
  &:focus {
    outline: none;
  }
}
