.promoSlideContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  & img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
}
