@import "abstracts/variables/fonts";
@import "abstracts/variables/colors";
@import "abstracts/mixins";

@import "sections/navbar";
@import "sections/promoSlide";

body,
html {
  font-family: $font-family-1;
  background-color: $bgColor;
  color: $txtColor;
  margin: 0;
  padding: 0;
}
