@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat&display=swap");

@import "abstracts/variables/fonts";
@import "abstracts/variables/colors";
@import "abstracts/mixins";

@import "sections/navbar";
@import "sections/promoSlide";
@import "sections/carousel";
@import "sections/footer";
@import "sections/productList";
@import "sections/editProduct";
@import "sections/pagination";
@import "sections/singleProduct";

body,
html {
  font-family: $font-family-1;
  background-color: $bgColor;
  color: $txtColor;
  margin: 0;
  padding: 0;
}

.mainContainer {
  max-width: 1320px;
  padding: 8rem 6rem 2rem;
  margin: 0 auto;
}

.img-product {
  width: 100%;
  display: block;
}
