@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat&display=swap");

@import "abstracts/variables/fonts";
@import "abstracts/variables/colors";
@import "abstracts/mixins";

@import "sections/components/navbar";
@import "sections/components/promoSlide";
@import "sections/components/carousel";
@import "sections/components/footer";
@import "sections/components/editProduct";
@import "sections/components/pagination";

@import "sections/pages/singleProduct";
@import "sections/pages/profile";
@import "sections/pages/productList";
@import "sections/pages/createProduct";
@import "sections/pages/login";
@import "sections/pages/register";
@import "sections/pages/cart";

body,
html {
  font-family: $font-family-1;
  background-color: $bgColor;
  color: $txtColor;
  margin: 0;
  padding: 0;
}

.pageContainer {
  position: relative;
  min-height: 100vh;
}

.mainContainer {
  max-width: 1320px;
  padding: 8rem 6rem 2rem;
  margin: 0 auto;
}

.img-product {
  width: 100%;
  display: block;
}
